body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

a.nav-link {
  color: #495057;
}

.bg-light {
  background-color: #eeeeee;
}

.card-header {
  background-color: #eeeeee;
}

div.row {
  margin-top: 1em !important;
}

.baconstatus {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: text-bottom;
  border-radius: 50%;
  margin-right: 10px;
}

.baconstatus-red {
  background-color: red;
}

.baconstatus-green {
  background-color: green;
}

.table-balances td { text-align: left; }
.table-balances td:first-child { 
  text-align: right;
  width: 200px;
}

.stats-title, .stats-title-w {
  display: inline-block;
  text-align: right;
  width: 100px;
}
.stats-title-w {
  width: 150px;
}

.stats-val {
  display: inline-block;
  text-align: left;
}

.btn-primary {
  background-color: #ED9051;
  border-color: #D65337;
}

.padded-top-30 {
  padding-top: 30px;
}

.tab-pane {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
}

.nav-tabs {
  margin-bottom: 0;
}

.navbar {
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.toasters-container {
  position: fixed;
  z-index: 999999;
  top: 12px;
  right: 12px;
}

/* Main toaster box */
.toast {
  width: 300px;
}

.toaster-warning, .toaster-warning .toast-header {
  color: #eee;
  background-color: #f0ad4e;
}

.toaster-danger, .toaster-danger .toast-header {
  color: #eee;
  background-color: #d9534f;
}

.toaster-success, .toaster-success .toast-header {
  color: #eee;
  background-color: #5cb85c;
}

.toaster-primary, .toaster-primary .toast-header {
  color: #004085;
  background-color: #cce5ff;
}

.toaster-info, .toaster-info .toast-header {
  color: #0c5460;
  background-color: #bee5eb;
}

.alert-secondary {
  background-color: #f8f9fa;
}

svg.ledgerAlert {
	margin-bottom: 4px;
	margin-right: 5px;
}

.row-bottom-border {
	border-bottom: 1px solid black;
}
