name: bacon-builder
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: '1.16'
      
    - name: Dryer lint
      uses: golangci/golangci-lint-action@v2
      with:
        version: v1.39
        skip-go-installation: true
        skip-build-cache: true

    - name: Fry some bacon
      run: go build .

